#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#tooltip {
  position: absolute;
  z-index: 100000;
  opacity: 0.3;
}

#tooltip:hover {
  opacity: 1.0;
}