#editor {
  width: 95%;
  height: 100%;
  font-color: black!important;
  font-weight: 400;
}

#tooltip {
  position: absolute;
  z-index: 100000;
  opacity: 0.3;
  max-width: 60%;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  font-weight: 400;
}

#tooltip:hover {
  opacity: 1.0;
}

#tooltip .card {
  background-color: #d3a75e !important;
}

#tooltip em {
  font-style: normal;
  background-color: #8b9e63;
}

.ace-twilight .ace_fold {
  border-color: #e0e0e0!important;
}

.ace-twilight .ace_invalid.ace_illegal {
  color: #e0e0e0!important;
}

.ace-twilight {
  color: #e0e0e0!important;
}